# 11.-Recursión, Búsqueda, Ordenamiento, Iteración

## 11.2.- Algoritmos iterativos y Recursivos

### 11.2.1.- Fibonacci

Vamos a armar la sucesión de Fibonacci - Comenamos definiendola. Recuerda que los primeros 2 numeros, son 0 y 1, y los numeros subsecuentes son la suma de los 2 anteriores

In [2]:
def fibonacci(n):
    if n in (0,1):
        return n
    else:
        return fibonacci(n-1)+fibonacci(n-2)

Ahora vamos a probarla, arma un for que muestre lo valores Fibonacci de 0 a 40.

In [7]:
for n in range(0,41):
    print(f'k({n})={fibonacci(n)}')

k(0)=0
k(1)=1
k(2)=1
k(3)=2
k(4)=3
k(5)=5
k(6)=8
k(7)=13
k(8)=21
k(9)=34
k(10)=55
k(11)=89
k(12)=144
k(13)=233
k(14)=377
k(15)=610
k(16)=987
k(17)=1597
k(18)=2584
k(19)=4181
k(20)=6765
k(21)=10946
k(22)=17711
k(23)=28657
k(24)=46368
k(25)=75025
k(26)=121393
k(27)=196418
k(28)=317811
k(29)=514229
k(30)=832040
k(31)=1346269
k(32)=2178309
k(33)=3524578
k(34)=5702887
k(35)=9227465
k(36)=14930352
k(37)=24157817
k(38)=39088169
k(39)=63245986
k(40)=102334155

#### Por tu cuenta

La versión iterativa de fibonacci es el siguiente programa. Usa %timeit para comparar la versión original vs la iterativa para los numeros 32,33 y 34

def fibonacci_iterativo(n):
    resultado = 0
    temp = 1
    for j in range(0,n):
        temp, resultado = resultado, resultado + temp
    return resultado

In [63]:
def fibonacci_ite(n):
    result=0
    temp=1
    for j in range(0,n):
        result=result+temp
        temp=result
        return result

In [61]:
result=0
temp=1
for j in range(0,5):
    result=result+temp
    temp=result 
    print(result)

1
2
4
8
16

In [8]:
%timeit fibonacci(17)

1.01 ms ± 117 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [44]:
%timeit fibonacci_iterativo(17)

416 ns ± 56.2 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [67]:
fibonacci_iterativo(17)

1

### 11.2.2.- Series Geometricas

Ahora vamos a armar series geometricas. Está tendra a=3, r=1/2 y n=20

COmenzamos con la definicion de las variables a y r

In [78]:
a=3
r=1/2

Ahora vamos a la definición de la función serie_geom(n)

In [86]:
def serie_geom(n):
    if n==0:
        return a
    else:
        return serie_geom(n-1)+a*r**(n)

Y terminamos con la impresión de los resultados del 1 al 10

In [88]:
print(serie_geom(1))

4.5

In [89]:
for n in range(0,11):
    print(f' La serie en la potencia{n} es igual a {serie_geom(n)}')

 La serie en la potencia0 es igual a 3
 La serie en la potencia1 es igual a 4.5
 La serie en la potencia2 es igual a 5.25
 La serie en la potencia3 es igual a 5.625
 La serie en la potencia4 es igual a 5.8125
 La serie en la potencia5 es igual a 5.90625
 La serie en la potencia6 es igual a 5.953125
 La serie en la potencia7 es igual a 5.9765625
 La serie en la potencia8 es igual a 5.98828125
 La serie en la potencia9 es igual a 5.994140625
 La serie en la potencia10 es igual a 5.9970703125

### 11.2.3.- Factorial

Ahora vamos a ver factoriales, comenzamos definiendo la funcion factorial

In [8]:
def factorial(n):
    if n<=1:
        return 1
    else:
        return n*factorial(n-1)

E imprimimos del 1 al 20

In [9]:
for n in range(1,21):
    print(f'Factorial de {n}= {factorial(n)}')

Factorial de 1= 1
Factorial de 2= 2
Factorial de 3= 6
Factorial de 4= 24
Factorial de 5= 120
Factorial de 6= 720
Factorial de 7= 5040
Factorial de 8= 40320
Factorial de 9= 362880
Factorial de 10= 3628800
Factorial de 11= 39916800
Factorial de 12= 479001600
Factorial de 13= 6227020800
Factorial de 14= 87178291200
Factorial de 15= 1307674368000
Factorial de 16= 20922789888000
Factorial de 17= 355687428096000
Factorial de 18= 6402373705728000
Factorial de 19= 121645100408832000
Factorial de 20= 2432902008176640000

Ahora intenta el factorial de forma iterativa

In [10]:
def factorial_ite(n):
    fin=n-1
    for j in range(fin,1,-1):
        n*=j
    return n

In [11]:
factorial_ite(5)

120

## 11.3.- Búsqueda

### 11.4.- Búsqueda lineal

La busqueda lineal es la mas sencilla y mensa, simplemente va elemento por elemento del arreglo viendo si es el indicado

Vamos a comenzar haciendo una función sencilla de búsqueda lineal

In [14]:
def busquedalineal(datos,buscar):
    for indice,valor in enumerate(datos):
        if valor==buscar:
            return indice
    return -1

Luego le damos los datos: 
    
datos = [1.70, 1.65, 1.58, 1.81, 1.84, 1.78, 1.68, 1.72]

In [12]:
datos = [1.70, 1.65, 1.58, 1.81, 1.84, 1.78, 1.68, 1.72]

In [15]:
print('El dato que quieres buscar tiene indice: ',busquedalineal(datos,1.81))

El dato que quieres buscar tiene indice:  3

Y luego probamos

In [16]:
print('El dato que quieres buscar tiene indice: ',busquedalineal(datos,1.9))

El dato que quieres buscar tiene indice:  -1

## 11.4.- Ordenamiento

### 11.4.1.- Ordenamiento por Selección

Vamos a comenzar con Ordenamiento por Selección

En este ciclo, se reduce la cantidad de elementos, una vez que se ha encontrado el elemento más
pequeño y se ubica en la primera posición.

In [17]:
import numpy as np

In [18]:
def ordenamiento_slec(dato):
    for indice1 in range(len(dato)-1):
        peque=indice1
        for indice2 in range(indice1+1,len(dato)):
            if dato[indice2]<dato[peque]:
                peque=indice2
                
        dato[peque],dato[indice1]=dato[indice1],dato[peque]

En esta parte se identifica el elemento más pequeño, entre los elementos que quedan, y se intercambia de posición con el elemento que tiene el índice más bajo.

Y ahora apliquemos este algoritmo a auna lista que contiene la estatura de 9 personas

1.85, 1.70, 1.58, 1.83, 1.80, 1.75, 1.70, 1.90, 1.65

In [20]:
dato=np.array([1.85, 1.70, 1.58, 1.83, 1.80, 1.75, 1.70, 1.90, 1.65])

In [21]:
print(f'Sorted Array: {dato}\n')

Sorted Array: [1.85 1.7  1.58 1.83 1.8  1.75 1.7  1.9  1.65]

In [22]:
ordenamiento_slec(dato)

In [23]:
print(f'Ordenamiento Ordenado: {dato}\n')

Ordenamiento Ordenado: [1.58 1.65 1.7  1.7  1.75 1.8  1.83 1.85 1.9 ]